/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/*  apply a natural box layout model to all elements  */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/*---------BODY GOES HERE-----------*/
body {
  font-family: "Roboto", sans-serif; }
  body h1 {
    color: black;
    font-size: 2rem; }

/*---------HEADER GOES HERE-----------*/
header {
  max-width: 75rem;
  margin: 0 auto;
  background-color: #FF8D17;
  padding: 1rem 2%; }
  header h1 {
    color: white; }

/*---------NAV GOES HERE-----------*/
nav {
  max-width: 75rem;
  margin: auto;
  background-color: #5A27CC; }
  nav ul li {
    float: left;
    width: 50%;
    border-right: 2px solid rgba(0, 0, 0, 0.3); }
  nav ul li:last-child {
    border: none; }
  nav ul li a {
    display: block;
    font-size: 2rem;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 1rem 0;
    transition: background 0.75s ease,color 0.75s ease; }
  nav ul li a:hover {
    background-color: #FF8D17;
    color: black; }
  nav ul li.active a {
    background-color: #471fa1;
    color: #e6e6e6; }

/*---------MAIN GOES HERE-----------*/
main {
  max-width: 75rem;
  margin: 0 auto;
  padding: 1rem 2%; }

/*---------FOOTER GOES HERE-----------*/
footer {
  max-width: 75rem;
  margin: 0 auto;
  background-color: #FF8D17; }
  footer h2 {
    color: white;
    text-align: center;
    padding: 1rem; }

/*---------CLEARFIX GOES HERE-----------*/
.clearfix:after {
  content: "";
  display: table;
  clear: both; }

@media only screen and (min-width: 560px) {
  /*---------NAV GOES HERE-----------*/
  nav ul li {
    width: 20%; } }
@media only screen and (min-width: 1024px) {
  /*---------NAV GOES HERE-----------*/
  nav ul li {
    float: left;
    width: 15%; } }
